<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Headset</title>
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <ul class="header__navList">
                <li><a href="" class="header__navItem"></a></li>
                <li><a href="" class="header__navItem"></a></li>
                <li><a href="" class="header__navItem"></a></li>
                <li><a href="" class="header__navItem"></a></li>
            </ul>
        </nav>
        <div class="header__logo">
            <span class="header__logoText"></span>ext
        </div>
        <div class="header__search">
            <label for="search" class="header__label">
                <input type="text" class="header__input">
                <span class="header__inputIcon"></span>
            </label>
        </div>
        <div class="header__basket"></div>
    </header>
    <main class="main">
        <section class="hero"></section>
        <section class="blogBlock"></section>
        <section class="galleryBlock"></section>
        <section class="faqBlock"></section>
    </main>
    <footer class="footer"></footer>
</body>
</html>