@import url(./styles.css);

body {
    min-width: 375px;
    /* background-color: #000; */
}

.header {
    min-height: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4.8vw;
    padding-right: 4.8vw;
    background-color: #252525;
}

.header__text,
.header__phone {
    font-size: 11px;
    cursor: pointer;
}

.header__text:hover,
.header__phone:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.header__text {
    color: #E3B873;
}

.header__phone {
    color: #FFFFFF;
}

.header__nav,
.header__btn {
    display: none;
}

.hero {
    position: relative;
    min-height: 476px;
    padding-top: 17.85vh;
    padding-bottom: 12.81vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3.78vh;
    padding-right: 3.78vh;
    background: url(../images/hero/hero_mobile/heroMobile-img.png);
}

.hero::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    min-height: 476px;
    min-width: 100%;
    background-color: #000000;
    opacity: .7;
}

.hero__info {
    margin-bottom: 6.7vh;
    color: #FFFFFF;
    z-index: 1;
}

.hero__heading {
    margin-bottom: 0.7em;
    min-width: 339px;
    line-height: 30.55px;
}

.hero__heading_color {
    color: #E3B873;
}

.hero__text {
    line-height: 19.02px;
}

.hero__btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5.46vh;
    z-index: 1;
}

.hero__btn {
    font-size: 11px;
    min-width: 338px;
}

.hero__btn:hover {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    transition: 300ms;
}

.worksBlock {
    min-height: 670px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5.3vh 4.8% 8.65vh 4.8%;
}

.worksBlock__heading {
    line-height: 30.49px;
    text-align: center;
    padding-left: 17.26vw;
    padding-right: 17.26vw;
    margin-bottom: 3.28%;
}

.worksBlock__text {
    color: #FFFFFF;
    font-size: 11px;
    line-height: 17.43px;
    text-align: center;
    padding-left: 8.53vw;
    padding-right: 8.53vw;
    min-height: 2.4vh;
    margin-bottom: 3.27em;
}

.worksBlock__slider-content {
    min-width: 90.66vw;
    min-height: 241.35px;
    background: url(../images/completedWorks/completedWorks_mobile/completedWorks-img.png);
    background-size: 100%;
    position: relative;
    margin-bottom: 5.44%;
}

.worksBlock__slider-content:hover::before {
    content: url(../images/completedWorks/completedWorks_mobile/worksBlockMobile-arrow-img.svg);
    position: absolute;
    top: 103px;
    left: 14px;
    background-color: #E3B873;
    border-radius: 50%;
    min-width: 36px;
    min-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: .7;
}

.worksBlock__slider-content:hover::after {
    content: url(../images/completedWorks/completedWorks_mobile/worksBlockMobile-arrow-img.svg);
    position: absolute;
    top: 103px;
    right: 14px;
    background-color: #E3B873;
    border-radius: 50%;
    min-width: 36px;
    min-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    cursor: pointer;
    opacity: .7;
}

.worksBlock__table {
    order: 3;
}

.worksBlock__table th {
    font-family: "YesevaOne", sans-serif;
    color: #E3B873;
    line-height: 19.4px;
    text-align: start;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 14px;
}

.worksBlock__table td{
    font-family: "NunitoSans", sans-serif;
    line-height: 14.94px;
    font-size: 11px;
    color: #FFFFFF;
    text-align: start;
    vertical-align: top;
}

.worksBlock__col1 {
    width: 26.66%;
}

.worksBlock__table-head:first-child {
    padding-right: 26.93vw;
}

.worksBlock__table-row:first-child .worksBlock__table-head {
    padding-bottom: 0.78em;
}

.worksBlock__table-data:first-child {
    padding-right: 5.45em;
    padding-bottom: 2.45em;
} 

.worksBlock__table-row:nth-child(2n+3) .worksBlock__table-head {
    padding-bottom: .92em;
}

.worksBlock__nav {
    display: none;
}

.worksBlock__slider-nav {
    display: none;
}

.controlBlock {
    min-height: 830px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    padding-left: 4.8%;
    padding-right: 4.54%;
    position: relative;
    padding-bottom: 88.43px;
}

.controlBlock__heading {
    color: #FFFFFF;
    line-height: 30.49px;
    align-self: center;
    /* margin-bottom: 2.38vh; */
    margin-bottom: 19.79px;
}

.controlBlock__icon {
    align-self: center;
    position: relative;
    /* margin-bottom: 4.85%; */
    margin-bottom: 40.25px;
}

.controlBlock__icon::before {
    content: "";
    position: absolute;
    min-width: 32px;
    height: 1.54px;
    background-color: #E3B873;
    top: 47.5%;
    left: -126%;
}

.controlBlock__icon::after {
    content: "";
    position: absolute;
    min-width: 32px;
    height: 1.54px;
    background-color: #E3B873;
    top: 47.5%;
    right: -126%;
}

.controlBlock__videoBlock {
    position: relative;
    margin-bottom: 51px;
    min-width: 340px;
    min-height: 207px;
}

.controlBlock__videoBlock::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #000000CC;
    z-index: 1;
}

.controlBlock__video {
    background: url(../images/onlineControl/onlineControl_mobile/onlineControlMobile-img.png);
    background-size: cover;
    /* min-width: 340px; */
    min-width: 100%;
    min-height: 207px;
    position: relative;
}

.controlBlock__video::before {
    content: url(../images/onlineControl/onlineControl_mobile/onlineControlMobile--playButton-img.svg);
    min-width: 37px;
    min-height: 37px;
    background-color: #E3B873;
    border-radius: 50%;
    position: absolute;
    top: 41%;
    left: 44.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.controlBlock__videoBlock::after {
    content: "";
    position: absolute;
    min-width: 55px;
    min-height: 1.54px;
    background-color: #E3B873;
    bottom: -28px;
    left: 41.89%;
}

.controlBlock__text {
    color: #FFFFFF;
    line-height: 18.68px;
    font-size: 11px;
    text-align: center;
    /* margin-bottom: 7.3vh; */
    margin-bottom: 61.05px;
}

.controlBlock__inputName,
.controlBlock__inputPhone {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    align-self: stretch;
    margin-bottom: 26.54px;
}

.controlBlock__inputName {
    margin-bottom: 63px;
}

.controlBlock__inputsBlock input{
    min-width: 100%;
}

.controlBlock__btn {
    order: 1;
    margin-top: 62.43px;
    position: absolute;
    bottom: -25.5px;
    /* min-width: 90.66vw; */
}

.controlBlock__btn:hover {
    background-color: #e3b873d5;
    transition: 300ms;
}

.typesBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 83px;
    padding-left: 4.78vw;
    padding-right: 4.53vw;
    min-height: 1764px;
}

.typesBlock__heading {
    font-size: 22px;
    line-height: 30.49px;
    margin-bottom: 17px;
}

.typesBlock__icon {
    margin-bottom: 40px;
    position: relative;
}

.typesBlock__icon::before {
    content: "";
    position: absolute;
    min-width: 32px;
    height: 1.54px;
    background-color: #E3B873;
    top: 47.5%;
    left: -146%;
}

.typesBlock__icon::after {
    content: "";
    position: absolute;
    min-width: 32px;
    height: 1.54px;
    background-color: #E3B873;
    top: 47.5%;
    right: -146%;
}

.typesBlock__cards {
    min-width: 340px; 
}

.typesBlock__item {
    min-height: 484px;
    position: relative;
    margin-bottom: 178px;
}

.typesBlock__info {
    position: absolute;
    top: 223px;
    padding-top: 21px;
    background-color: #fff;
    box-shadow: 5px 10px 20px #0000000d;
}

.typesBlock__infoHeading{
    margin-bottom: 10px;
    line-height: 20.79px;
    margin-left: 31px;
}

.typesBlock__list {
    min-width: 227px;
    margin-bottom: 17px;
    font-size: 13px;
    line-height: 22.07px;
    color: #959595;
    margin-left: 31px;
}

.typesBlock__summary {
    min-width: 190.43px;
    min-height: 40px;
    display: inline-block;
    padding-top: 11.97px;
    padding-bottom: 11.97px;
}

.typesBlock__item:first-child {
    background: url(../images/typesBlock/typesBlock_mobile/typesBlockMobile-img1.png);
    background-size: cover;
    min-height: 365px;
}

.typesBlock__item:nth-child(2n+2) {
    background: url(../images/typesBlock/typesBlock_mobile/typesBlockMobile-img2.png);
    background-size: cover;
    min-height: 365px;
}

.typesBlock__item:last-child {
    background: url(../images/typesBlock/typesBlock_mobile/typesBlockMobile-img3.png);
    background-size: cover;
    min-height: 365px;
    margin-bottom: 174px;
}

.realizeBlock {
    min-height: 211px;
    padding-left: 4.78vw;
    padding-right: 4.53vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.realizeBlock__heading {
    text-align: center;
    line-height: 30.49px;
    max-width: 90.66vw;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.realizeBlock__list {
    display: none;
}

.realizeBlock__content {
    background: url(../images/realizeBlock/realizeBlock_mobile/realizeBlockMobile-img.png);
    background-size: cover;
    min-width: 90.66vw;
    min-height: 242px;
    position: relative;
    position: absolute;
    bottom: -121px;
}

.realizeBlock__content:hover::before {
    content: url(../images/completedWorks/completedWorks_mobile/worksBlockMobile-arrow-img.svg);
    position: absolute;
    top: 103px;
    left: 14px;
    background-color: #E3B873;
    border-radius: 50%;
    min-width: 36px;
    min-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: .7;
}

.realizeBlock__content:hover::after {
    content: url(../images/completedWorks/completedWorks_mobile/worksBlockMobile-arrow-img.svg);
    position: absolute;
    top: 103px;
    right: 14px;
    background-color: #E3B873;
    border-radius: 50%;
    min-width: 36px;
    min-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    cursor: pointer;
    opacity: .7;
}

.questionBlock {
    min-height: 670px;
    background-color: #000;
    padding: 173px 4.53vw 0px 4.78vw;
    display: flex;
    flex-direction: column;
}

.questionBlock__heading {
    color: #FFFFFF;
    text-align: center;
    line-height: 27.72px;
    text-transform: uppercase;
    margin-bottom: 52px;
}

.questionBlock__inputsArea {
    display: flex;
    flex-direction: column;
}

.questionBlock__inputText {
    margin-bottom: 63px;
}

.questionBlock__inputText:last-child {
    margin-bottom: 21.63px;
}

.questionBlock__checkbox {
    margin-bottom: 67.33px;
}

.questionBlock__btn {
    min-width: 340px;
}

.questionBlock__btn:hover {
    background-color: transparent;
    transition: 300ms;
    border: 1px solid #FFFFFF;
}

.mapBlock {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    padding: 46px 4.52vw 49px 4.78vw;
}

.mapBlock__heading {
    order: 2;
    color: #FFFFFF;
    text-align: center;
    color: #E3B873;
    line-height: 24.95px;
    font-size: 18px;
    margin-bottom: 23.65px;
}

.mapBlock__socialIcons {
    order: 3;
    display: flex;
    justify-content: center;
    gap: 5.57vw;
}

.mapBlock__mailIcon,
.mapBlock__instagramIcon {
    min-width: 39px;
    min-height: 39px;
    background-color: #E3B873;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mapBlock__mailIcon:hover,
.mapBlock__instagramIcon:hover {
    transform: scale(1.2);
    opacity: .7;
    transition: 300ms;
}

.mapBlock__map-container {
    order: 1;
    background: url(../images/mapBlock/mapBlock_mobile/mapBlock-map-img.png);
    min-width: 340px;
    min-height: 255px;
    margin-bottom: 41.79px;
}

.footer {
    display: none;
}