@import url(./font.css);
@import url(./mobile/mobile-styles.css) screen and (min-width: 320px) and (max-width: 767px);
@import url(./desktop/desktop-styles.css) screen and (min-width: 1024px) and (max-width: 2500px);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1,h2,h3,h4 {
    text-transform: uppercase;
}

h1 {
    font-family: "YesevaOne", sans-serif;
    color: #fff;
}

h2 {
    font-family: "YesevaOne", sans-serif;
    color: #E3B873;
}

h3 {
    font-family: "YesevaOne", sans-serif;
}

h4 {
    font-family: "YesevaOne", sans-serif;
}

p {
    font-family: "NunitoSans", sans-serif;
}

button {
    background-color: #E3B873;
    font-family: "NunitoSans", sans-serif;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.worksBlock__table th {
    font-family: "YesevaOne", sans-serif;
    color: #E3B873;
    text-align: start;
    vertical-align: top;
    text-transform: uppercase;
}

.worksBlock__table td{
    font-family: "NunitoSans", sans-serif;
    color: #FFFFFF;
    text-align: start;
    vertical-align: top;
}

.inputText,
.checkboxLabel {
    color: #FFFFFF;
    font-size: 14px;
    font-family: "NunitoSans", sans-serif;
    line-height: 22.92px;
}

.inputText {
    border: none;
    border-bottom: 1px solid #FFFFFF26;
    background-color: transparent;
    padding-bottom: 8px;
}

label {
    font-family: "NunitoSans", sans-serif;
    font-size: 13px;
    color: #FFFFFF80;
    margin-bottom: 7px;
}

.dataCheck label{
    display: inline-flex;
    gap: 8.62px;
    align-items: baseline;
}

.checkbox {
    display: none;
}

.checkboxLabel {
    cursor: pointer;
}

.checkbox_fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    border-radius: 1px;
    justify-content: center;
    align-items: center;
    background-color: #E3B873;
    color: #FFFFFF;
}

.checkbox_fake::before {
    content: "\2714";
    opacity: 0;
    transition: .2s;
}

.checkbox:checked + .checkbox_fake::before {
    opacity: 1;
}

.typesBlock__summary {
    color: #FFFFFF;
    font-family: "YesevaOne", sans-serif;
    text-align: center;
    text-transform: uppercase;
    background-color: #E3B873;
}

